body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin: 30px;
}

img {
    margin: 10px;
    height: 460px;
    width: 819px;
}

video {
    margin: 10px;
}

a:link {
    color:cadetblue;
}

a:visited {
    color:cornflowerblue;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#e {
    height: 403px;
    width: 302px;
}

#s {
    height: 600px;
    width: 800px;
}